<h1>Create a New Discount</h1>

<div class="row">
  <div class="col">
    <%= form_with model: [:merchant, @discount], local: true do |f| %>
    <div>
      <%= f.label :percentage, 'Percentage off Item Price' %>
      <%= f.text_field :percentage %>
    </div>
    <div>
      <%= f.label :quantity_threshold, 'Minimum Purchase Quantity' %>
      <%= f.text_field :quantity_threshold %>
    </div>
    <div>
      <%= f.submit 'Create Discount' %>
    </div>
    <% end %>
  </div>
</div>